<div>
  <h1>Welcome to the World Clock</h1>
  <form action="/time">
    <label for="location">Enter a Location</label>
    <input id="location" type="text" name="location" placeholder="Chicago, New York, etc.">
    <button>Find Location's Current Time</button>
  </form>
</div>
