<!DOCTYPE html>
<html>
  <head>
    <style>
    html{
      background-color: #cbd5e1;
    }
    body{
      color: #475569;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      min-height: 80vh;
      font-family: Helvetica, Sans-Serif;
    }
    </style>
    <title>World Clock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
